<table border="2px">
<thead>
	   <td>Name</td><td>Favcolor</td><td>FavSport</td></thead>
	   <tbody class="tablebody2">
	   {{each detail}}
	    <tr>
	   		<td>{{name}}</td>
	   		<td>{{fav}}</td>
	   		<td>{{pin}}</td>
	   		<td>{{age}}</td>
	   </tr>
	   {{/each}}
	   </tbody>
</table>